@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400&family=Oswald:wght@300;400;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

/*----------------------------------------------------------
GENERAL STYLES
----------------------------------------------------------*/

:root {
    --color-1: #02567A;
    --color-2: #00BCFF;
    --color-3: #F1F1E6;
    --color-4: #E99B26;
    --main-font: "Josefin Sans", sans-serif;
    --secondary-font: "Oswald", sans-serif;
}

body {
    position: relative;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    color: var(--color-3);

    overflow-x: hidden;
}

.section-background {
    position: relative;
    display: flex;
    justify-content: stretch;
    align-items: center;
    transform-origin: left;
    transform: skewY(-2deg);
}

.section-background > section {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: stretch;
    align-items: center;
    transform-origin: left;
    transform: skewY(2deg);
}

section {
    position: relative;
    margin: auto 20%;
    padding: 0 50px;
    overflow: hidden;
}

section h2 {
    color: var(--color-1);
    text-transform: uppercase;
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 30px;
}

section .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


div h3 {
    color: var(--color-1);
    text-transform: uppercase;
    text-align: center;
    font-family: var(--secondary-font);
    font-family: 20px;
}

div h4 {
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
}

/*----------------------------------------------------------
HERO SECTION
----------------------------------------------------------*/
/* Hero top section */
.hero-section {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 80vh;
    padding-bottom: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right bottom, #02567a, #046e9a, #0687ba, #05a1dc, #00bcff);
}

.hero-text {
    margin-left: 70px;
    width: 30%;
}

.hero-text h1 {
    margin: 0;
    text-transform: uppercase;
    font-family: var(--secondary-font);
    font-size: 40px;
}

.hero-carousel {
    width: 50%;
}

.hero-carousel img{
    display: block;
    margin: auto;
    /* height: 100%; */
    width: 80%;
}

/* Hero Categories */
.section-background.hero {
    background-color: var(--color-3);
    height: 30vh;
}

.hero .categories {
    top: -20vh;
    margin: 0;
    padding: 0;
    height: 40vh;
    justify-content: center;
    overflow: visible;
}

.categories .category {
    position: relative;
    margin: 0 2rem;

    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    
    width: 15%;
    height: 70%;
    
    background-color: rgba(0, 187, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.categories .category:nth-of-type(1) {
    margin-top: 5rem;
    margin-bottom: auto;
}

.categories .category:nth-of-type(2) {
    margin-top: 4rem;
    margin-bottom: auto;
}

.categories .category:nth-of-type(3) {
    margin-top: 3rem;
    margin-bottom: auto;
}

.categories .category:nth-of-type(4) {
    margin-top: 4rem;
    margin-bottom: auto;
}

.categories .category img {
    display: block;
    margin: auto;
    width: 60%;
}

.categories .category h3 {
    color: var(--color-3);
}

.categories .category a {
    display: block;
    width: fit-content;
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-3);
    background-color: var(--color-4);
    font-family: var(--main-font);
    font-size: 14px;
}

.categories .category:hover a {
    animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.categories .category h3 {
    margin: 0;
}

/*----------------------------------------------------------
OUR STATS
----------------------------------------------------------*/
.stats {
    margin-bottom: 4rem;
}

.stats .wrapper .stat {
    /* margin: 0.5rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 20%;
}

.stat i {
    font-size: 50px;
    color: var(--color-4);
}

.stat .counting {
    margin-top: 1rem;
    font-size: 30px;
    color: var(--color-1);
}

.stat h3 {
    margin: 0;
    color: var(--color-1);
}

/*----------------------------------------------------------
BULLET SECTION(S)
----------------------------------------------------------*/
.bullets-section .bullet-point{
    margin: 0 1rem;
    border: 1px solid var(--color-1);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-1);
}

.bullets-section  i {
    font-size: 40px;
    color: var(--color-4);
}

.bullets-section p {
    font-size: 20px;
    text-align: center;
}

.bullets-section.second {
    margin-bottom: 4rem;
}

.bullets-section.second span {
    display: block;
    font-size: 30px;
    margin-bottom: 0.5rem;
}

/*----------------------------------------------------------
PRODUCTS PROOF
----------------------------------------------------------*/
.section-background.prd {
    margin-top: 5rem;
    min-height: 370vh;
    background-color: var(--color-3);
}

.section-background.prd section {
    flex-direction: column;
}

.products-proof .wrapper {
    flex-direction: column;
}

.products-proof .product-section {
    display: flex;
    justify-content: space-around;
    height: 80vh;
    margin-bottom: 5rem;
}

/* Each side of a product section */
.products-proof .product-section > div {
    width: 40%;
    height: 100%;
}

/* Proof side */
.proofs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proofs > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.proofs i {
    color: var(--color-4);
    font-size: 30px;
    margin-right: 10px;
}

.proofs p {
    color: var(--color-1);
    font-weight: 400;
    vertical-align: top;
}

.proofs a > h3 {
    color: var(--color-3);
    margin: 0;
}

.proofs a {
    display: block;
    width: fit-content;
    padding: 1rem;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--color-4);
    font-family: var(--main-font);
    font-size: 14px;
}

/* Product section */
.product {
    position: relative;
    border: 1px solid #fff;
    border-radius: 20px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.product .img-container {
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: center;
    align-items: center;
}

.product .img-container img {
    margin: auto;
    width: 100%;
}

.product .band-content {
    margin: auto;
    width: 80%;
}

.product .band-content h4 {
    /* margin-top: 3rem; */
    margin-bottom: 0;
}

.product .bottom-band {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 70%;
    background-image: linear-gradient(to right bottom, #02567a, #046e9a, #0687ba, #05a1dc, #00bcff);
    transform-origin: left;
    transform: skewY(-10deg);
    z-index: -1;
}

/*----------------------------------------------------------
TESTIMONIALS
----------------------------------------------------------*/
.testimonials .fa-solid {
    position: absolute;
    color: var(--color-1);
    font-size: 40px;
}

.testimonials .fa-circle-chevron-left {
    left: 1px;
    top: 50%;
}

.testimonials .fa-circle-chevron-right {
    right: 1px;
    top: 50%;
}

.testimonials .testimonial-card {
    height: 40vh;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0,0,0,.3);
}

.testimonials .testimonial {
    height: 70%;
    display: flex;
}

.testimonials .testimonial .text {
    position: relative;
    margin: auto;
    padding: 1rem;
    color: var(--color-1);
}

.testimonials .quote{
    position: absolute;
    right: 0;
    font-size: 400%;
    opacity: .1;
    transform: rotate(10deg) translate(-10px, -40px);
    color:#4D3FA3;
}

.testimonials .footer{
    position:relative;
    background-image: linear-gradient(to right bottom, #00bcff, #00c6d7, #04c68a, #97b93b, #e99b26);
    height: 30%;
    border-radius: 0 0 10px 10px;    
}

.testimonials .image{
    position: absolute;
    top: -50%;
    left: 50%;
    box-sizing: border-box;
    border: 5px solid white;
    border-radius: 50%;
    height: 12vh;
    width: 12vh;
    background:no-repeat center/cover url(https://images.unsplash.com/photo-1563715992566-7ad5cf5b71d3?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
    transform: translateX(-50%);
}

.testimonials .person{
    color:white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size:1.5rem;
    font-weight: 600;
}

/*----------------------------------------------------------
ANIMATIONS
----------------------------------------------------------*/
@keyframes shake-bottom {
    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }
    80% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }
    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}
