/*----------------------------------------------------------
FOOTER
----------------------------------------------------------*/
footer {
    background-image: linear-gradient(to bottom, #02567a, #046e9a);
    padding: 1rem 20%;
    font-size: 16px;
}

footer .top-div {
    display: flex;
    justify-content: space-between;
}

footer .top-div a {
    margin-right: 1.5rem;
}

footer a {
    display: inline-block;
    text-decoration: none;
    color: var(--color-3);
    transition: all 1s;
}

footer a:hover {
    transform: scale(1.1);
}


/*----------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
MEDIA QUERIES
------------------------------------------------------------
------------------------------------------------------------
----------------------------------------------------------*/
@media screen and (max-width: 850px) {
    footer {
        padding: 1rem;
    }

    footer .top-div {
        flex-direction: column;
    }

    footer .top-div .left-side > a {
        display: block;
        margin: 0.25rem auto;
    }

    footer .social-media {
        margin: 0.25rem auto;
        font-size: 20px;
    }

    footer hr {
        margin: 0.5rem auto;
    }
}