/*----------------------------------------------------------
NAVBAR
----------------------------------------------------------*/
nav {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 10%;
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(2, 86, 122, 0.8);
    backdrop-filter: blur(2px);
    transition: box-shadow 0.5s, background-color 0.5s;
}

nav .left-section {
    display: flex;
}

nav .logo {
    margin-right: 2rem;
    padding-top: 0.5rem;
    text-decoration: none;
    color: var(--color-3);
}

nav .left-section ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

nav .left-section li {
    display: inline-block;
    margin: 0 1rem;
    border-radius: 10px;
    transition: background-color 0.5s;
}

nav .left-section li.active {
    font-weight: 400;
    color: white;
}

nav .left-section li:hover  {
    background-color: var(--color-4);
    cursor: pointer;
}

nav .left-section li a {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--color-3);
}

nav .right-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--color-4);
    /* animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) 5s infinite normal both; */
    transition: 1s all;
}

nav .right-section:hover {
    filter: brightness(105%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transform: translateY(-0.1rem);
}

nav .right-section .cart-icon {
    position: relative;
    margin-right: 0.5rem;
    border-right: 1px solid white;
    padding-right: 0.5rem;
}

nav .right-section .cart-icon i {
    margin-right: 0.5rem;
}

nav .right-section .cart-icon span {
    display: block;
    position: absolute;
    left: 40%;
    top: 40%;
    border-radius: 50%;
    padding: 0.2rem 0.4rem;
    height: fit-content;
    font-size: 12px;
    background-color: red;

}

nav .right-section a {
    position: absolute;
    display: inline;
    width: 100%;
    height: 100%;
}